.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;
  background-color: #424aee;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  
}

.nav {
  display: flex;
  gap: 15px;
}

.button {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  background-color: white;
  border-radius: 4px;
}

/* .d{
  height: 200px;
  width: 100vw;
  margin-top: 80px;
  border: 2px solid red;
} */

.content{
  margin-top: 140px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  border-radius: 50%;  
}
